body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #0d6efd;
    color: white;
    padding: 40px;
}

section {
    padding: 40px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    background: white;
    margin: 10px auto;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background: #0d6efd;
    color: white;
    padding: 15px;
}
